<h1>Dashboard</h1>

<% if false %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Name</th>
      <th>Meta</th>
      <th>Score</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% if @transactions %>
      <% @transactions.each do |transaction| %>
        <tr class="<%= 'warning' if transaction['pending']=="true" %>">
          <td class="transaction-amount"><%= number_to_currency(transaction['amount']) %></td>
          <td class="transaction-date"><%= transaction['date'] %></td>
          <td class="transaction-name"><%= transaction['name'] %></td>
          <td class="transaction-meta"><%= transaction['meta'] %></td>
          <td class="transaction-score"><%= transaction['score'] %></td>
          <td class="transaction-type"><%= transaction['type'] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
