<h1><i class="glyphicon glyphicon-link"></i> Add Account Token</h1>

<%= (render partial: '/layouts/errors', formats: [:html], locals: { klass: @token }) if @token %>

<%= form_for @token do |f| %>
  <div class="form-group">
    <%= f.label :institution %>
    <%= f.select :institution, @institution_options, {}, class: 'form-control' %>
  </div>
  <% @institutions.each do |institution| %>
    <div class="js-credentials <%= institution['type'] %>">
      <% credentials = Hash[institution['credentials'].to_a.reverse] %>
      <% credentials.each do |label, value| %>
        <div class="form-group">
          <%= f.label label, value %>
          <%= f.text_field label, class: 'form-control', placeholder: value %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
