<h1><i class="glyphicon glyphicon-link"></i> Add Token</h1>

<%= (render partial: '/layouts/errors', formats: [:html], locals: { klass: @token }) if @token %>

<%= form_for @token do |f| %>
  <div class="form-group">
    <%= f.label :bank %>
    <%= f.select :bank, Token::PLAID, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
