<h1><i class="glyphicon glyphicon-link"></i> Accounts</h1>

<div class="btn-group-separate">
  <%= link_to new_token_path, class: 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-plus"></i> <strong>New</strong>
  <% end %>

  <% unless @accounts.empty? %>
    <%= link_to refresh_accounts_path, class: 'btn btn-warning' do %>
      <i class="glyphicon glyphicon-refresh"></i> <strong>Refresh Account Data</strong>
    <% end %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Institution</th>
      <th>Name</th>
      <th>Type</th>
      <th>Number</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.institution_name %></td>
        <td><%= account.name %></td>
        <td><%= account.type %></td>
        <td><%= account.number %></td>
        <td><%= account.balance %></td>
        <td>blah</td>
      </tr>
    <% end %>
  </tbody>
</table>
