<h1>Add Account</h1>

<%= form_for @account do |f| %>
  <div class="form-group">
    <%= f.label :bank %>
    <%= f.select :bank, Account::PLAID, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>
